<div id="wrapper">
  <!-- content begin -->
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="text-light backgroundImage">
      <div class="center-y relative text-center">
        <div class="container">
          <div class="row">

            <div class="col-md-12 text-center">
              <h1>Explore</h1>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section aria-label="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="items_filter">
              <form action="blank.php" class="row form-dark" id="form_quick_search" method="post"
                    name="form_quick_search">
                <div class="col text-center">
                  <input #inputElement (input)="search(inputElement.value)" class="form-control" id="name_1" name="name_1" placeholder="search item here..." type="text"/>
                  <a href="#" id="btn-submit"><i class="fa fa-search bg-color-secondary"></i></a>
                  <div class="clearfix"></div>
                </div>
              </form>

              <div id="item_category" class="dropdown">
                <a href="#" class="btn-selector">All categories</a>
                <ul>
                  <li class="active"><span>All categories</span></li>
                  <li><span>Art</span></li>
                  <li><span>Music</span></li>
                  <li><span>Domain Names</span></li>
                  <li><span>Virtual World</span></li>
                  <li><span>Trading Cards</span></li>
                  <li><span>Collectibles</span></li>
                  <li><span>Sports</span></li>
                  <li><span>Utility</span></li>
                </ul>
              </div>

              <div id="buy_category" class="dropdown">
                <a href="#" class="btn-selector">Buy Now</a>
                <ul>
                  <li class="active"><span>Buy Now</span></li>
                  <li><span>On Auction</span></li>
                  <li><span>Has Offers</span></li>
                </ul>
              </div>

              <div id="items_type" class="dropdown">
                <a href="#" class="btn-selector">All Items</a>
                <ul>
                  <li class="active"><span>All Items</span></li>
                  <li><span>Single Items</span></li>
                  <li><span>Bundles</span></li>
                </ul>
              </div>

            </div>
          </div>

          <ng-container *ngFor="let user of famousCollection">
            <ng-container *ngFor="let song of user.items">
              <ng-container *ngTemplateOutlet="exploreItem; context: {user: user, song: song}"></ng-container>
            </ng-container>
          </ng-container>
          <!-- nft item begin -->
          <!-- nft item begin -->
        </div>
      </div>
    </section>

  </div>
</div>


<ng-template #exploreItem let-user=user let-song=song>
  <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div [ngClass]="{'selected': checkIfPlaying(song.name)}" class="nft__item nft_type_music">
      <div class="de_countdown" data-year="2022" data-month="2" data-day="29" data-hour="8"></div>
      <div class="author_list_pp">
        <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">
          <img class="lazy" [src]="user?.profilePic" alt="">
          <i class="fa fa-check"></i>
        </a>
      </div>
      <div class="nft__item_wrap">
        <div class="nft_type_wrap" (click)="changePlay(song)">
          <div class="player-container" *ngIf="checkIfPlaying(song.name)">
            <div class="play-pause pause"></div>
          </div>
          <div class="player-container" *ngIf="!checkIfPlaying(song.name)">
            <div class="play-pause"></div>
          </div>
          <div class="circle-ripple" [ngClass]="{'show': checkIfPlaying(song.name)}"></div>
        </div>
        <a href="item-details-audio.html">
          <img [src]="checkIfPlaying(song.name) ? 'assets/images/casette.gif' : 'assets/images/casette_static.png'"  class="nft__item_preview" alt="">
        </a>
      </div>
      <div class="nft__item_info">
        <a href="item-details.html">
          <h4>{{song.name}} | {{user.name}}</h4>
        </a>
        <div class="nft__item_click">
          <span></span>
        </div>
        <div class="nft__item_price">
          0.09 ETH<span>1/14</span>
        </div>
        <div class="nft__item_action">
          <a href="#">Place a bid</a>
        </div>
        <div class="nft__item_like">
          <i class="fa fa-heart"></i><span>94</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
