<section id="section-category" class="no-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Browse by category</h2>
          <div class="small-border bg-color-2"></div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-sm-30" data-wow-delay=".1s">
        <a routerLink="explore" class="icon-box style-2 rounded">
          <i class="fa fa-image"></i>
          <span>Bass</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-sm-30" data-wow-delay=".2s">
        <a routerLink="explore" class="icon-box style-2 rounded">
          <i class="fa fa-music"></i>
          <span>Drums</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-sm-30" data-wow-delay=".3s">
        <a routerLink="explore" class="icon-box style-2 rounded">
          <i class="fa fa-search"></i>
          <span>Artists</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-sm-30" data-wow-delay=".4s">
        <a routerLink="explore" class="icon-box style-2 rounded">
          <i class="fa fa-globe"></i>
          <span>Guitar</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-sm-30" data-wow-delay=".5s">
        <a routerLink="explore" class="icon-box style-2 rounded">
          <i class="fa fa-vcard"></i>
          <span>Vocals</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-sm-30" data-wow-delay=".6s">
        <a routerLink="explore" class="icon-box style-2 rounded">
          <i class="fa fa-th"></i>
          <span>Price</span>
        </a>
      </div>
    </div>
  </div>
</section>
