<div class="no-bottom no-top" id="content">
  <div id="top"></div>
  <section id="section-hero" aria-label="section" class="no-top no-bottom vh-100 image1" data-bgimage="url(images/background/bg-shape-1.jpg) bottom">
    <div class="v-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="spacer-single"></div>
            <h6 data-wow-delay=".5s"><span class="text-uppercase id-color-2">Peppermint</span></h6>
            <div class="spacer-10"></div>
            <h1  data-wow-delay=".75s">Create, sell or collect music NFTs.</h1>
            <p class="lead" data-wow-delay="1s">
              Decentralised market to connect fans and artists in the form of NFTs</p>
            <div class="spacer-10"></div>
            <a href="explore.html" class="btn-main lead" data-wow-delay="1.25s">Explore</a>
            <div class="mb-sm-30"></div>
          </div>
          <div class="col-md-6 xs-hide">
            <img src="assets/images/misc/nft.png" class="lazy img-fluid" data-wow-delay="1.25s" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <section id="section-intro" class="no-top no-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-sm-30">
          <div class="feature-box f-boxed style-3">
            <i class="bg-color-2 i-boxed icon_wallet"></i>
            <div class="text">
              <h4>Set up your wallet</h4>
              <p data-wow-delay=".25s">Connect your wallet, we offer multiple wallets integrations</p>
            </div>
            <i class="wm icon_wallet"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-sm-30">
          <div class="feature-box f-boxed style-3">
            <i class="bg-color-2 i-boxed icon_cloud-upload_alt"></i>
            <div class="text">
              <h4>Add your music</h4>
              <p data-wow-delay=".25s">Add pieces of your song to peppermint and mix it! Show us what you made!</p>
            </div>
            <i class="wm icon_cloud-upload_alt"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-sm-30">
          <div class="feature-box f-boxed style-3">
            <i class="bg-color-2 i-boxed icon_tags_alt"></i>
            <div class="text">
              <h4>Sell your music</h4>
              <p data-wow-delay=".25s">Sell parts of your song. It will be available for th whole community.</p>
            </div>
            <i class="wm icon_tags_alt"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<br>
<br>
<app-hot-collections></app-hot-collections>
<app-new-items></app-new-items>
