<section id="section-items" class="no-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>New Items</h2>
          <div class="small-border bg-color-2"></div>
        </div>
      </div>

      <owl-carousel-o class="row" [options]="customOptions">
        <ng-container *ngFor="let item of famousCollection">
          <ng-container *ngFor="let song of item.items">
            <ng-template class="item" carouselSlide>
              <ng-container *ngTemplateOutlet="newItem; context: {collection: item, song: song}"></ng-container>
            </ng-template>
          </ng-container>

        </ng-container>
      </owl-carousel-o>


    </div>
  </div>
</section>



<ng-template #newItem let-collection=collection let-song=song>
  <div class="d-item item">
    <div class="nft__item" [ngClass]="{'selected': checkIfPlaying(song.name)}">
      <!--<div class="de_countdown">
      </div>-->
      <div class="author_list_pp">
        <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">
          <img class="lazy" [src]="collection.profilePic" alt="">
          <i class="fa fa-check"></i>
        </a>
      </div>
      <div class="nft__item_wrap">
        <div class="nft_type_wrap" (click)="changePlay(song)">
          <div class="player-container" *ngIf="checkIfPlaying(song.name)">
            <div class="play-pause pause"></div>
          </div>
          <div  class="player-container" *ngIf="!checkIfPlaying(song.name)">
            <div class="play-pause"></div>
          </div>
          <div class="circle-ripple" [ngClass]="{'show': checkIfPlaying(song.name)}"></div>
        </div>
        <a>
          <img [src]="checkIfPlaying(song.name) ? 'assets/images/casette.gif' : 'assets/images/casette_static.png'"  class="nft__item_preview" alt="">
        </a>
      </div>
      <div class="nft__item_info">
        <a href="item-details.html">
          <h4>{{song.name}} | {{collection.name}}</h4>
        </a>
        <div class="nft__item_click">
          <span></span>
        </div>
        <div class="nft__item_price">
          0.08 ETH<span>1/20</span>
        </div>
        <div class="nft__item_action">
          <a href="#">Place a bid</a>
        </div>
        <div class="nft__item_like">
          <i class="fa fa-heart"></i><span>50</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
