.item {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}
:host ::ng-deep .owl-theme .owl-nav [class*='owl-'] {
  background-color: white;
  border-radius: 20px;
}
.icon {
  vertical-align: bottom;
}

.selected {
  border: solid 1px var(--secondary-color);
}
.show {
  display: block;
}
::ng-deep .nft_type_wrap  {
  justify-content: right;
  bottom: 6px;
  right: 9px;
}
::ng-deep .circle-ripple {
  right: 22px;
}
