<section id="section-collections" class="no-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Hot Collections</h2>
          <div class="small-border bg-color-2"></div>
        </div>
      </div>
      <owl-carousel-o *ngIf="famousCollection.length > 0" class="row" [options]="customOptions">
        <ng-container *ngFor="let item of famousCollection">
          <ng-template class="item" carouselSlide>
            <ng-container *ngTemplateOutlet="collection; context: {user: item}"></ng-container>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<ng-template #collection let-user=user>

    <div class="nft_coll item">
      <div class="nft_wrap">
        <a href="collection.html"><img [src]="user.banner" alt=""></a>
      </div>
      <div class="nft_coll_pp">
        <a href="collection.html"><img class="pp-coll" [src]="user.profilePic" alt=""></a>
        <i class="fa fa-check"></i>
      </div>
      <div class="nft_coll_info">
        <a href="collection.html"><h4>{{user.name}}</h4></a>
        <span>ERC-192</span>
      </div>
    </div>
</ng-template>
